@font-face {
    font-family: 'Inter';
    src: url('../inter-2/Inter-Medium.woff2') format('woff2'),
        url('../inter-2/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../inter-2/Inter-Regular.woff2') format('woff2'),
        url('../inter-2/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

