.categories {
  margin-top: 100px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 370px;
    height: 160px;
    background: #1BB9EB;
    opacity: 0.8;
    filter: blur(220px);
    top: 0;
    right: 130px;
  @media (max-width:1600px) {
      right: 30px;
  }
  @media (max-width:1300px) {
      right: 20px;
  }
  @media (max-width:768px) {
  }
  }
  &__container {
    max-width: 1270px;
  }
  &__title {
    font-size: 28px;
    line-height: 35px;
    font-weight: normal;
  }

  &__box {
    width: 190px;
    margin-top: 50px;
    @media (max-width: 450px) {
      width: 150px;
    }
    &-link {
      width: 100%;
      height: 183px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &:hover {
      .categories__box-bottom {
        animation: bottom 0.5s;
        background: red;
        box-sizing: border-box;
      }
    }
    &-img {
      width: 100%;
      @media (max-width: 576px) {
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        height: 90px;
      }
    }
    &-name {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      font-family: 'TT Hoves';
    }
    &-bottom {
      margin-top: 15px;
      width: 100%;
      height: 2px;
      background: linear-gradient(98.07deg, #f16b41 0.71%, #c51841 100%);
    }
  }
}
@keyframes bottom {
  0% {
    width: 0%;
    background: linear-gradient(98.07deg, #f16b41 0.71%, #c51841 100%);
  }
  100% {
    width: 100%;
    background: red;
  }
}
