@font-face {
    font-family: 'TT Hoves';
    src: url('../transfonter.org-20210927-103147-ttv/TTHoves-Medium.woff2') format('woff2'),
        url('../transfonter.org-20210927-103147-ttv/TTHoves-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../transfonter.org-20210927-103147-ttv/TTHoves-Regular.woff2') format('woff2'),
        url('../transfonter.org-20210927-103147-ttv/TTHoves-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

